/*
    Universal styles go here.
*/

:root {
  --bg-main: #131029;
  --bg-dark-main: #332b70;
  --light-main: #4d56a6;
  --hover: #1a1638;
  --accent: #262056;
}

html {
  background-color: var(--bg-main);
}
